:root {
  --main-blue-c: #1d89e4;
  --hover-blue-c: rgb(25, 122, 208);
  --soft-blue-c: #d1e6f7;

  --font-c: black;
  --font-background-c: gray;

  --border-c: #eee;

  --soft-background-c: #f9f9f9;

  --bullet-main: #aaa;
  --bullet-doc: #81d5ed;
  --bullet-folder: #7172fc;
  --bullet-concept: #adcb2a;
  --bullet-descriptor: #f9c866;

  --focus-font-weight: 500;

  /* Highlight Colors */
  --highlight-red-c: #ffc7c7;
  --highlight-orange-c: #ffd599;
  --highlight-yellow-c: #fef49d;
  --highlight-green-c: #d7e985;
  --highlight-purple-c: #e4b1eb;
  --highlight-blue-c: #afd9fb;

  /* Linked Rems Color */
  --reference-c: #b979cf;
  /* Quote Background Color */
  --quote-background-c: #ecf3f6;

  /* Chose one of the following fonts */
  /* --font-body: "Open Sans, sans-serif"; */
  /* --font-body: "Courier New, Courier, monospace"; */
  /* --font-body: "Century Gothic, sans-serif"; */
  /* --font-body: "Comic Sans MS, Comic Sans, cursive"; */
  /* --font-body: "Inter, sans-serif"; */
  /* --font-body: "Times, Times New Roman, serif"; */
  /* --font-body: "Arial, sans-serif"; */
  /* --font-body: "Open Sans, sans-serif"; */

  /* Or import a web font, see below for an @import statement. */
  /* --font-body: "Lato";
}
/* Import a web font here. */
/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); */
