/* Disable current indicators */
.rem-container:not(.rem-container--focused) .separator-symbol,
.rem-container:not(.rem-container--focused) .MultiLineCardIndicator {
  /* Hiding via font-size makes it easier to display ::before and ::after elements */
  font-size: 0;
}

/* Bidirectional, forward and backward cards. */
:not(.rem-container--question-rem-type).rem-container--forwards-practice-enabled.rem-container--backwards-practice-enabled
  /* This :not(...) chain works around a SlateJS peculiarity of inserting zero width spaces into the tree
   * e.g. span.descriptor_rem_type.separator-symbol > span{&#65279;}
   */
  .separator-symbol:not(.concept_rem_type):not(.descriptor_rem_type):not(.question_rem_type)::after,
:not(.rem-container--question-rem-type).rem-container--forwards-practice-enabled.rem-container--backwards-practice-enabled
  .MultiLineCardIndicator::after {
  content: "⇔";
  font-size: 15px;
  color: goldenrod;
  margin-left: 3px;
}

.rem-container--forwards-practice-enabled.rem-container--backwards-practice-disabled
  .separator-symbol:not(.concept_rem_type):not(.descriptor_rem_type):not(.question_rem_type)::after,
.rem-container--forwards-practice-enabled.rem-container--backwards-practice-disabled
  .MultiLineCardIndicator::after {
  content: "⇒";
  font-size: 15px;
  color: green;
  margin-left: 3px;
}

:not(.rem-container--question-rem-type).rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled
  .separator-symbol:not(.concept_rem_type):not(.descriptor_rem_type):not(.question_rem_type)::after,
:not(.rem-container--question-rem-type).rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled
  .MultiLineCardIndicator::after {
  content: "⇐";
  font-size: 15px;
  color: blue;
  margin-left: 3px;
}

/* Disabled cards */
/* Move the strike background one level down so that it is not displayed over the ::after */
.strikediag {
  background: none;
}
.strikediag span {
  background: linear-gradient(
    to left top,
    transparent 47.75%,
    #000 49.5%,
    #000 50.5%,
    transparent 52.25%
  );
}

.rem-container.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled
  .separator-symbol:not(.concept_rem_type):not(.descriptor_rem_type):not(.question_rem_type)::after {
  content: "⇏";
  font-size: 15px;
  color: orangered;
  margin-left: 3px;
}

/* warn on back questions */
.rem-container--question-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled
  .separator-symbol:not(.concept_rem_type):not(.descriptor_rem_type):not(.question_rem_type)::after,
.rem-container--question-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled
  .MultiLineCardIndicator::after {
  content: "!⇐!";
  font-size: 15px;
  color: red;
  margin-left: 3px;
}

.rem-container--question-rem-type.rem-container--forwards-practice-enabled.rem-container--backwards-practice-enabled
  .separator-symbol:not(.concept_rem_type):not(.descriptor_rem_type):not(.question_rem_type)::after,
.rem-container--question-rem-type.rem-container--forwards-practice-enabled.rem-container--backwards-practice-enabled
  .MultiLineCardIndicator::after {
  content: "!⇔!";
  font-size: 15px;
  color: red;
  margin-left: 3px;
}
