.rem-container--concept-rem-type /* hover */
  > .rem-text
  > .rich-text-editor
  > .EditorContainer
  > div::before,
.rem-container--concept-rem-type /* normal */
  > .rem-text
  > .EditorContainer:not(.rem-bullet__number):before {
  /* content: "｢C｣ "; */
  content: var(--concept-icon, "〈C〉 ");
  color: var(--concept-icon-color, green);
  font-weight: var(--rem-icon-font-weight, bold);
}
.rem-container--descriptor-rem-type /* hover */
  > .rem-text
  > .rich-text-editor
  > .EditorContainer
  > div::before,
.rem-container--descriptor-rem-type /* normal */
  > .rem-text
  > .EditorContainer:not(.rem-bullet__number):before {
  content: var(--descriptor-icon, "〈D〉 ");
  color: var(--descriptor-icon-color, royalblue);
  font-weight: var(--rem-icon-font-weight, bold);
}
.rem-container--question-rem-type /* hover */
  > .rem-text
  > .rich-text-editor
  > .EditorContainer
  > div::before,
.rem-container--question-rem-type /* normal */
  > .rem-text
  > .EditorContainer:not(.rem-bullet__number):before {
  content: var(--question-icon, "〈?〉 ");
  color: var(--question-icon-color, mediumpurple);
  font-weight: var(--rem-icon-font-weight, bold);
}
.rem-container--slot-rem-type /* hover */
  > .rem-text
  > .rich-text-editor
  > .EditorContainer
  > div::before,
.rem-container--slot-rem-type /* normal */
  > .rem-text
  > .EditorContainer:not(.rem-bullet__number):before {
  /* content: "〈📥〉 "; */
  content: var(--slot-icon, "〈S〉 ");
  color: var(--slot-icon-color, grey);
  font-weight: var(--rem-icon-font-weight, bold);
}

/* no_content-rem-type are code blocks for example. */
/*.rem-container--no_content-rem-type:not(.rem-container--focused) > div > div:not(.rich-text-editor).EditorContainer::before {
	content: "🖹 ";
	font-weight: bold;
	color: blue;
}
*/
