.rem-container--concept-rem-type /* hover */
  > .rem-text
  > .rich-text-editor
  > .EditorContainer
  > div::before,
.rem-container--concept-rem-type /* normal */
  > .rem-text
  > .EditorContainer:before {
  /* content: "｢C｣ "; */
  content: "〈C〉 ";
  font-weight: bold;
  color: green;
}
.rem-container--descriptor-rem-type /* hover */
  > .rem-text
  > .rich-text-editor
  > .EditorContainer
  > div::before,
.rem-container--descriptor-rem-type /* normal */
  > .rem-text
  > .EditorContainer:before {
  content: "〈D〉 ";
  font-weight: bold;
  color: royalblue;
}
.rem-container--question-rem-type /* hover */
  > .rem-text
  > .rich-text-editor
  > .EditorContainer
  > div::before,
.rem-container--question-rem-type /* normal */
  > .rem-text
  > .EditorContainer:before {
  content: "〈?〉 ";
  font-weight: bold;
  color: mediumpurple;
}
.rem-container--slot-rem-type /* hover */
  > .rem-text
  > .rich-text-editor
  > .EditorContainer
  > div::before,
.rem-container--slot-rem-type /* normal */
  > .rem-text
  > .EditorContainer:before {
  /* content: "〈📥〉 "; */
  content: "〈S〉 ";
  color: grey;
}

/* no_content-rem-type are code blocks for example. */
/*.rem-container--no_content-rem-type:not(.rem-container--focused) > div > div:not(.rich-text-editor).EditorContainer::before {
	content: "🖹 ";
	font-weight: bold;
	color: blue;
}
*/
