:root {
  --spacing-line-height: 1.3em;
  --spacing-tree-node-container-margin-top: 0em;
  --spacing-bullet-paragraph-margin-top: 4px;
  --spacing-bullet-document-margin-top: 3px;
  --spacing-bullet-conceptDescriptor-margin-top: 4px;

  --header-1-margin-top: 18px;
  --header-2-margin-top: 8px;
  --header-3-margin-top: 3px;

  --header-1-font-size: 25px;
  --header-1-font-weight: 500;
  --header-2-font-size: 19px;
  --header-2-font-weight: 600;
  --header-3-font-size: 16px;
  --header-3-font-weight: 700;
}
