:root {
  --print-indent-width: 20px;
}

@media print {
  #hierarchy-editor .TreeNode {
    padding-left: var(--print-indent-width, 0px);
  }
  
  /* hide indent guides */
  #hierarchy-editor .TreeNode {
    margin-left: 0px;
    border-left: none;
  }

  /* hide bullet points */
  .rem-bullet {
    display: none;
  }
} 

/* page break tags */
@media print {
  .tree-node-container[data-rem-container-tags~="page-break-after"] > div:first-child {  
    page-break-after: always;
  }
  .tree-node-container[data-rem-container-tags~="page-break-before"] > div:first-child  {  
    page-break-before: always;
  }
}

@media screen {

.tree-node-container[data-rem-container-tags~="page-break-after"] > div:first-child  {
  border-bottom: 2px dashed grey;
}

.tree-node-container[data-rem-container-tags~="page-break-before"] > div:first-child  {
  border-top: 2px dashed grey;
}
}



