.tree-node-container[data-rem-container-tags~="box"] {
  border: 1px solid black;
  position: relative;
}

.tree-node-container[data-rem-container-tags~="box"] > div:first-child {
  margin: -1px 0 0 -1px;
  background-color: lightslategrey;
  border: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: fit-content;
  border-bottom-right-radius: 4px;
}

.tree-node-container[data-rem-container-tags~="box"]
  > div:first-child
  .rem-text {
  font-size: 10px;
  padding: 0px 6px 0px 10px !important;
}

.tree-node-container[data-rem-container-tags~="box"]
  > div:first-child:not(:hover) /* :not(:focus-within) */
  /* I disabled focus because we have to manage tags with mouse anyway. */
  .hierarchy-editor__tag-bar {
  display: none;
}
.tree-node-container[data-rem-container-tags~="box"]
  > div:first-child:not(:hover)
  .rem-bullet__container {
  display: none;
}

