.rem[data-rem-tags~="one"] .rem-text:before {
  content: "❤🤍🤍🤍🤍";
  background: #eee;
  padding: 4px;
  margin-bottom: 5px;
  border: 1px solid #333;
  display: inline-block;
}

.rem[data-rem-tags~="two"] .rem-text:before {
  content: "❤❤❤🤍🤍";

  background: #eee;
  padding: 4px;
  margin-bottom: 5px;
  border: 1px solid #333;
  display: inline-block;
}

.rem[data-rem-tags~="three"] .rem-text:before {
  content: "❤❤❤🤍🤍";
  background: #eee;
  padding: 4px;
  margin-bottom: 5px;
  border: 1px solid #333;
  display: inline-block;
}

.rem[data-rem-tags~="four"] .rem-text:before {
  content: "❤❤❤❤🤍";
  background: #eee;
  padding: 4px;
  margin-bottom: 5px;
  border: 1px solid #333;
  display: inline-block;
}

.rem[data-rem-tags~="five"] .rem-text:before {
  content: "❤❤❤❤❤";
  background: #eee;
  padding: 4px;
  margin-bottom: 5px;
  border: 1px solid #333;
  display: inline-block;
}
