:root {
  --hello: "world";
}

.tree-node-container[data-rem-container-tags~=autolayout] > .TreeNode > .tree-node-container {
  background-color: #f6f6fa;
  border: 1px solid #3b7cc8;
  border-radius: 2000px;
  margin: 5px;
}

.tree-node-container[data-rem-container-tags~=autolayout] > .TreeNode > .tree-node-container .rem-text {
  padding-left: 10px;
  padding-right: 10px;
}

.tree-node-container[data-rem-container-tags~=autolayout] > .TreeNode {
  display: flex;
  flex-wrap: wrap;
}

.tree-node-container[data-rem-container-tags~=autolayout] > .TreeNode > .tree-node-container {
  flex: 1 1 content;
}

.tree-node-container[data-rem-container-tags~=autolayout] > .TreeNode > .tree-node-container:not(:hover) .rem-bullet__container {
  visibility: hidden;
}

.tree-node-container[data-rem-container-tags~=autolayout] > .TreeNode > .tree-node-container.selected-rem {
  background-color: #cce2ff;
}

/* This also hides the bullet points */
/* .tree-node-container[data-rem-container-tags~=autolayout] > .TreeNode > .tree-node-container {
  overflow: hidden;
} */

.tree-node-container[data-rem-container-tags~=autolayout] > .TreeNode > .tree-node-container .rem-text {
  margin: 0;
  border-radius: 2000px;
}

.tree-node-container[data-rem-container-tags~=autolayout] > .TreeNode > .tree-node-container:not(:hover) .hierarchy-editor__tag-bar {
  display: none;
}